* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  height: 100vh;
  display: grid;
  place-items: center;
  background: #eee;
}
.container {
  /* padding: 200px 20px; */
  /* background: #fff; */
}
h2 {
  font-size: 26px;
  position: relative;
  letter-spacing: 1px;
  word-spacing: 2px;
}
h2::after,
h2::before {
  content: "";
  position: absolute;
  inset: 0;
}
h2::before {
  background: #eee;
  animation: typing 6.5s steps(var(--totalCount)) 1s forwards;
}
h2::after {
  background: #333;
  width: 3px;
  animation: typing 6.5s steps(30) 1s forwards, blink 0.9s steps(30) infinite;
}
@keyframes typing {
  to {
    left: 100%;
  }
}
@keyframes blink {
  to {
    background: transparent;
  }
}
